*.pyc
*.log
*.bkp
dist/*
build/*
private/*
docs/build/*
docs/make.bat
docs/Makefile
*.dtmp
*.req
*.rep
*__norfab__*
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/.gitkeep
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/logs/
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/logs/.gitkeep
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/artifacts/
!docker/norfab-docker-tests/distributed-basic/*/__norfab__/artifacts/.gitkeep
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/broker/
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/broker/public_keys/
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/broker/public_keys/broker.key
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/broker/private_keys/
!docker/norfab-docker-tests/distributed-basic/broker/__norfab__/files/broker/private_keys/broker.key_secret
site
*ipynb_checkpoints*
node_modules/
tests/nf_tests_inventory/agents/common.yaml
