*-tests/*
!*-tests/.env
!*-tests/__norfab__/
*-tests/__norfab__/*
!*-tests/__norfab__/.gitkeep
!*-tests/__norfab__/artifacts/
*-tests/__norfab__/artifacts/*
!*-tests/__norfab__/artifacts/.gitkeep

distributed-basic/*/__norfab__/*
!distributed-basic/*/__norfab__/.gitkeep
!distributed-basic/*/__norfab__/logs/
distributed-basic/*/__norfab__/logs/*
!distributed-basic/*/__norfab__/logs/.gitkeep
!distributed-basic/*/__norfab__/artifacts/
distributed-basic/*/__norfab__/artifacts/*
!distributed-basic/*/__norfab__/artifacts/.gitkeep

!distributed-basic/broker/__norfab__/files/
!distributed-basic/broker/__norfab__/files/broker/
!distributed-basic/broker/__norfab__/files/broker/public_keys/
!distributed-basic/broker/__norfab__/files/broker/public_keys/broker.key
!distributed-basic/broker/__norfab__/files/broker/private_keys/
!distributed-basic/broker/__norfab__/files/broker/private_keys/broker.key_secret
